.header {
  width: 100%;
  height: 93px;
  line-height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background: linear-gradient(180deg, #020105, #0a071a00);
  transition: 0.2s;
}
.header.active {
  background: linear-gradient(180deg, #0a071a, #0a071afb);
}


.navigation {
  width: 106%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h2 {
  margin-bottom: 0;
  margin: auto;
}

.logo i {
  font-size: 33px;
}

.nav__list {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  list-style: none;
  column-gap: 2.7rem;
}

.nav__item button {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  background: none;
  border: none;
  gap: 20px;
}

.nav__item button:hover {
  color: #f5b70a;
}

.mobile__menu span i {
  font-size: 1.3rem;
}

.mobile__menu {
  display: none;
}

/* ========================responsive===================*/

@media only screen and (max-width: 992px) {
  .nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #0a071a7e;
    display: none;
  }

  .nav__list__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    z-index: 100;
    background: #141124;
    flex-direction: column;
    box-shadow: 5px 5px 15px -5px #000000;
    justify-content: center !important;
    padding: 0px 20px;
  }

  .nav__list {
    flex-direction: column;
    padding: 0;
    grid-gap: 1em;
  }

  .nav__item a {
    font-size: 0.9rem;
    font-size: 15px;
  }
  .header {
    line-height: 40px;
    padding: 15px 0px;
  }

  .mobile__menu {
    display: block;
  }

  .logo h2 {
    font-size: 1.5rem;
  }

  .active__menu {
    display: block;
  }
}
