.single__testimonial {
  color: #f5b70a;
  font-size: 1.1rem;
}

.single__testimonial p {
  color: #fff;
  font-size: 0.8rem;
}
.slick-slider {
  text-align: center;
  margin-top: 7%;
  padding: 5%;
}
/* .imgbg img{
  height: 20%;
} */
.app__container {
  background: #f3f2f03b;
  border-radius: 10px;
  padding: 20px;
}

.app__img {
  margin-bottom: -100px;
}

.app__content h5 {
  color: #0a071a;
}
.app__content h2 {
  color: #0a071a;
  font-weight: 600;
}
.descriptionZebubar{
  margin-left: 30px;
}
.app__content {
  padding-top: 50px;
}
.app__content img{
  height: 50%;
}
.app__content p {
  color: white !important;
}
.btn__apple {
  background: #0a071a;
  border: none;
  color: white;
  padding: 7px 25px;
  border-radius: 5px;
}

.btn__apple:hover a {
  color: #f5b70a;
}

@media only screen and (max-width:992px) {
  .app__img img {
    width: 100%;
  }
  .btn__apple {
    padding: 5px 20px;
    font-size: 0.8rem;
  }
  .app__content h5 {
    font-size: 1rem;
  }
  .app__content h2 {
    font-size: 1.5rem;
  }
  .app__content p {
    font-size: 0.7rem;
    line-height: 25px;
  }
  .app__content {
    padding-bottom: 50px;
  }
}

@media only screen and(max-width:992px) {
  .slider__content h2 {
    font-size: 1.5rem;
    margin-bottom: 15px !important;
  }
  .single__testimonial p {
    font-size: 0.7rem;
  }
}
