.single__testimonial {
  color: #f5b70a;
  font-size: 1.1rem;
}

.single__testimonial p {
  color: #fff;
  font-size: 0.8rem;
}
.slick-slider {
  text-align: center;
  margin-top: 7%;
  padding: 5%;
}
.imgbg img{
  height: 20%;
}
@media only screen and(max-width:992px) {
  .slider__content h2 {
    font-size: 1.5rem;
    margin-bottom: 15px !important;
  }
  .single__testimonial p {
    font-size: 0.7rem;
  }
}
