.btn {
  padding: 7px 25px;
  border-radius: 5px;
  background: #f76e11;
  color: white;
  font-size: 0.9rem;
  margin-top: 30px;
}

.btn:hover {
  color: #f76e11;
}

.back {
  background-image: linear-gradient(#0a071a91, #0a071a7c),
    url(../../assets/images/background.png);
  background-size: cover;
  background-position: center;
}


.bg {
  transition: 3s;
  height: 100vh;
}

.transparantBg{
  width: 100%;
  height: 112vh;
  position: absolute;
  top: 0;
  left: 0;
  background: repeating-linear-gradient(to right, 
  rgba(12, 12, 12, 0.651) 0%, 
  rgba(0, 0, 0, 0.644) 50%, 
  rgba(36, 35, 35, 0.589) 100%);
}

.slick-slider{
  text-align: center;
  margin-top: 7%;
  
}


